<section class="flex items-center justify-center">
  <div class="py-10 mx-auto max-w-7xl">
    <div class="max-w-xl mx-auto">
      <div class="text-center">
        <div class="relative flex flex-col items-center">
          <%= render 'shared/logo', width: '100', height: '100' %>
          <h1 class="text-4xl font-bold mt-4 mb-4">
            Sign your document Online on your mobile device!
          </h1>
        </div>
        <h2 class="mt-4 mb-16 text-lg text-center text-gray-600">
          Secure digital document signing and processing.
          
        </h2>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-12 md:gap-10 md:grid-cols-2">
      <div class="card bg-base-200">
        <div class="card-body">
          <div class="text-center transition-all">
            <h3 class="mb-4 text-2xl font-semibold"> Easy </h3>
            <p class="text-base text-gray-500">
		Sign your Document and Membership Easy with your Finger
            </p>
          </div>
        </div>
      </div>
      <div class="card bg-base-200">
        <div class="card-body">
          <div class="text-center transition-all">
            <h3 class="mb-4 text-2xl font-semibold"> User Friendly </h3>
            <p class="text-base text-gray-500">
		Sign your Document Online on your devices
            </p>
          </div>
        </div>
      </div>
      <div class="card bg-base-200">
        <div class="card-body">
          <div class="text-center transition-all">
            <h3 class="mb-4 text-2xl font-semibold">Sign: Your Membership</h3>
            <p class="text-base text-gray-500">
              	it is secure and can be accesses only within your organization.
            </p>
          </div>
        </div>
      </div>
      <div class="card bg-base-200">
        <div class="card-body">
          <div class="text-center transition-all">
            <h3 class="mb-4 text-2xl font-semibold"> Sign: Sepa direct debit authorization </h3>
            <p class="text-base text-gray-500">
           	Review and sign digital documents online from any device.
        	It is optimized for screens of all sizes.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'shared/attribution', with_counter: true %>
